.container{
    width: 70vw;
    margin-top: 15px;
}
.accrordian{
    
       border-bottom: 1px solid #c9c9ce;
       padding: 10px;
       &__firstpart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3rem;
    
            &--heading{
               
                font-size: 40px;
                font-weight: 500;
            }
            &__icon{
                transition: all 0.3s;
            }
            &__icon.active{
                transform: rotate(-45deg);
            }
            
       }
       &__firstpart__no{
        font-size: 3rem;
        font-weight: 500;
        color: #007dc5;
        padding-right: 1.5rem;
       }
       &__secpart{
        transition: all 0.3s;
        overflow: hidden;
        max-height: 0;
        padding-top: 30px;
        padding-left: 30px;
        td{
             
            padding: .75rem;
           
        }
         p{
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
       }

       td p:nth-child(1){
        font-size: 1.5rem;
        color: #2469bc;
        display: inline-block;
        margin-bottom: 0;
        line-height: 2rem;
       }
       td a{
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: .5px;
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid #747678;
       }
}

@media only screen and (max-width: 599px) {
    .accrordian{
        overflow-y: auto;
       &__firstpart--heading{
            font-size: 1.5rem;
            line-height: 120%;
            margin-top: 20px;
        }
       &__firstpart__no{
        font-size: 2rem;
       }

       &__secpart {
        margin-top: 10px;
        padding-top: 0px; 
         padding-left: 0;
         p{
            margin-block-start: 0;
            margin-block-end: 0;
         }
       }

       td p:nth-child(1){
        font-size: 1rem;
        line-height: 0;
       }
       td a{
        font-size: 0.9rem;
        
       }
    }
    
    .container{
        width: 97vw;
    }


    table {
        display: block;
      }
      
      tbody {
        display: flex;
        flex-wrap: wrap;
      }
      
      tr {
        display: flex;
        flex: 0 0 50%; //makes two col grow->0 shrink->0  flex-basis->50%
        flex-direction: column;
        border: none;
      }
      
      td {
        width: 100%;
        border: 1px solid black;
      }
}