.container{
    width: 70vw;
    margin-top: 15px;
}
.accrordian{
    
       border-bottom: 1px solid #c9c9ce;
       padding: 10px;
       &__question{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3rem;
    
            &--heading{
               
                font-size: 40px;
                font-weight: 500;
            }
            &__icon{
                transition: all 0.3s;
            }
            &__icon.active{
                transform: rotate(-45deg);
            }
            
       }
       &__question__no{
        font-size: 3rem;
        font-weight: 500;
        color: #007dc5;
        padding-right: 1.5rem;
       }
       &__answer{
        transition: all 0.3s;
        overflow: hidden;
        max-height: 0;
        padding-top: 30px;
        padding-left: 30px;
        td{
             
            padding: .75rem;
           
        }
         p{
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
       }

       td p:nth-child(1){
        font-size: 1.5rem;
        color: #2469bc;
        display: inline-block;
        margin-bottom: 0;
        line-height: 2rem;
       }
       td a{
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: .5px;
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid #747678;
       }
}